In [ ]:
from bs4 import BeautifulSoup as soup
from requests import get
import pandas as pd
import requests
import re

In [ ]:
page=('https://www.makaan.com/kolkata-property/behala-flats-for-sale-50385?page=2')

In [ ]:
response = requests.get('https://www.makaan.com/kolkata-property/behala-flats-for-sale-50385?page=2')
response

In [ ]:
init='https://www.makaan.com/kolkata-property/behala-flats-for-sale-50385?page=2'
r = requests.get(init)
page_html = soup(r.text, 'html.parser')
house_containers = page_html.find_all("li",class_="cardholder") 
zz=house_containers[0]
zz1=zz.find("div",class_="title-line-wrap").text

In [ ]:
zz1

'3 BHK Apartment in Surya HeightsBehala, Kolkata'

In [ ]:
BHK=[]
price=[]
location=[]
title=[]

In [ ]:
n_pages = 0
init='https://www.makaan.com/kolkata-property/behala-flats-for-sale-50385?page='
for page in range(2,11):  #The no. of pages you wanted to scrap considering pages available in the url.
    n_pages += 1
    url = init + str(page)
    # This for gets us into next page after every iteration.
    r = requests.get(url) # Here r is response data.
    page_html = soup(r.text, 'html.parser') 
    house_containers = page_html.find_all("li",class_="cardholder") 
    for data in house_containers:
      location_=data.find_all("a",class_="loclink")
################################ LOCATION  #######################################      
      for i in location_:
        d=i.text
        r= d.split(',',)[0] # Splitting the obtained text and returning the first element of text.
        location.append(r)

################################    PRICE    ######################################            
      cost=data.find_all("td",class_="price")
      for i in cost:
        d=i.text
        if 'L' in d:
          a = d.split()[0]
          price.append(float(a)) # Type conversion of obtained data.
        elif 'Cr' in d:
          b = d.split()[0]
          price.append(float(b) * 100) # Coverting CRORES into LAKHS.
        else:  # If no value found in the class return value 0.
          e=0
          price.append(float(e)) 
      type_=data.find_all("a",class_="typelink") # Class containing title name of a property.
      for i in type_:
        d=i.text
        title.append(d)     
      bhk=data.find_all("div",class_="title-line-wrap")
      for i in bhk:
        d=i.text
        r= d.split()[0] # Splitting the obtained text and returning the first element of text.
        BHK.append(r)
        
      
print('You scraped {} pages containing {} properties.'.format(n_pages,len(title)))      
print(BHK)

You scraped 9 pages containing 240 properties.
['3', '3', '3', '2', '2', '2', '3', '2', '2', '3', '3', '3', '3', '4', '2', '2', 'Residential', '2', '2', '2', '2', '3', '2', '3', '2', '2', '2', '3', '2', '1', '3', '2', '3', '3', '2', '3', '2', '3', '2', '2', '3', '2', '2', '3', '3', '3', '3', '2', '2', '2', '2', '2', '3', '2', '3', '3', '3', '3', '1', '3', '3', '3', '3', '2', '2', '2', '3', '2', '2', '3', '3', '3', '3', '4', '2', '2', 'Residential', '2', '2', '2', '2', '3', '2', '3', '2', '2', '2', '3', '2', '1', '3', '2', '3', '3', '2', '3', '2', '3', '2', '2', '3', '2', '2', '3', '3', '3', '3', '2', '2', '2', '2', '2', '3', '2', '3', '3', '3', '3', '1', '3', '3', '3', '2', '3', '2', '3', '3', '2', '3', '2', '3', '3', '3', '3', '3', '3', '2', '3', '2', '3', '2', '3', '3', '2', '2', '2', '3', '2', '2', '2', '2', '3', '2', '3', '3', '2', '2', '2', '3', '2', '3', '2', '3', '3', '3', '2', '3', '2', '3', '3', '4', '3', '3', '2', '3', '3', '2', '3', '3', '3', '3', '8', '3', '2', '3', '3', '1', '1', '3', '3', '3', '3', '2', '2', '2', '3', '3', '6', '2', '3', '3', '3', '3', '3', '2', '3', '2', '2', '2', '3', '3', '2', '3', '3', '3', '3', '2', '2', '2', '2', '3', '3', '3', '2', '1', '3', '3', '3', '3', '2', '2', '2', '2', '3', '2', '2', '3', '3', '3', '2']

In [ ]:
df=pd.DataFrame()
df['location']=location
df['price(L)']=price
df['BHK']=BHK

In [ ]:
df.shape

(240, 3)

In [ ]:
df.head(50)

   location  price(L)          BHK
0    Behala     36.22            3
1    Behala     94.74            3
2    Behala     65.00            3
3    Behala     30.00            2
4    Behala     35.00            2
5    Behala     24.02            2
6    Behala     45.18            3
7    Behala     35.00            2
8    Behala     38.00            2
9    Behala     44.28            3
10   Behala     52.10            3
11   Behala     43.00            3
12   Behala     52.02            3
13   Behala    125.00            4
14   Behala     28.00            2
15   Behala     20.00            2
16   Behala     50.00  Residential
17   Behala     27.50            2
18   Behala     34.00            2
19   Behala     35.06            2
20   Behala     43.58            2
21   Behala     36.22            3
22   Behala     28.00            2
23   Behala     56.13            3
24   Behala     35.00            2
25   Behala     68.35            2
26   Behala     20.00            2
27   Behala     40.62            3
28   Behala     28.40            2
29   Behala     16.50            1
30   Behala     76.00            3
31   Behala     36.88            2
32   Behala     46.08            3
33   Behala     62.56            3
34   Behala     36.88            2
35   Behala     52.00            3
36   Behala     26.49            2
37   Behala     56.12            3
38   Behala     27.00            2
39   Behala     46.06            2
40   Behala     40.82            3
41   Behala     28.93            2
42   Behala     31.00            2
43   Behala     38.00            3
44   Behala     32.50            3
45   Behala     44.99            3
46   Behala     58.72            3
47   Behala     28.00            2
48   Behala     30.00            2
49   Behala     30.40            2